[submodule "FederatedSidechains"]
	path = FederatedSidechains
	url = https://github.com/SolarisPlatform/FederatedSidechains
	
[submodule "SolarisBitcoinFullNode"]
	path = SolarisBitcoinFullNode
	url = https://github.com/SolarisPlatform/SolarisBitcoinFullNode
[submodule "ImpleumBitcoinFullNode"]
	path = ImpleumBitcoinFullNode
	url = https://github.com/impleum/ImpleumBitcoinFullNode
