[submodule "FederatedSidechains"]
	path = FederatedSidechains
	url = https://github.com/impleum/FederatedSidechains
[submodule "ImpleumBitcoinFullNode"]
	path = ImpleumBitcoinFullNode
	url = https://github.com/impleum/ImpleumBitcoinFullNode
